body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    min-height: 100vh;
    background: black;
}

.custom-rounded {
    border-radius: 30px; 
  }

  .custom-bg {
    border-radius: 30px; /* Adjust the value for more/less rounding */
    background:  rgba(200, 200, 200, 0.1);
  }

  .box{
    height: auto;
    width: 250px;
    margin:auto;
    justify-items: left;
    padding: 10px;
  }

  .save{
    margin-top: 30px;

  }

  h5{
    color:red;
  }