body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
    padding: 15px 20px;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.options li {
    display: inline;
}

.options li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.options li a:hover {
    background-color: #262626;
}

a {
    padding: 60px;
    text-decoration: none;
    color: inherit;
    transition: background 0.3s ease;
}

a:hover {
    background: rgba(245, 18, 18, 0.5);
    border-radius: 5px;
    padding: 3px 5px;
}

.container {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
    overflow: hidden;
}

.menu {
    width: 20%;
    background: #151515;
    padding: 20px;
    display: block;
    box-sizing: border-box;
    text-align: center;
}

.main-content {
    width: 60%;
    background: #111;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.main-content::-webkit-scrollbar {
    display: none;
}

.user-content {
    width: 20%;
    background: #151515;
    padding: 20px;
    box-sizing: border-box;
}

.menuItems {
    padding: 8%;
}

.menuItems a {
    display: block;
    padding: 10%;
    text-align: left;
}

.fa-user-o,
.fa-bell-o,
.fa-bookmark-o,
.fa-envelope-o {
    padding: 2%;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        overflow: visible;
    }
    .menu,
    .main-content,
    .user-content {
        width: 100%;
    }
}
